2012-04-26 TODOList

1.开始界面背景图 logo清晰度 start按钮
OK - 2.select your carriage
OK - 图片对齐 菜单背景 背景图清晰度 back按钮 CHANGE DRIVER位置
OK - 3.select your animal 动物清晰度
OK - 4.select episode 背景清晰度 关卡图片对齐
OK - 5.select small 小关卡加箭头  文字缩小  背景及图标清晰度 图标大小
OK - 6.HOW TO PLAY排版
OK - 7.CLEAR 文字清晰度 文字背景清晰度 排版
OK - 8.HOW TO PLAY是否需要每关出现  文字背景清晰度
OK - 9.动物图清晰度 轮子清晰度 车子清晰度 背景图片清晰度
OK - 10.金币图片
OK - 11.1-9 山坡顶的树
OK - 12.2-2地底裂纹
OK - 13.2-8任务框位置
OK - 14.3-1树
OK - 15.3-8 终点地图
OK - 16.3-9终点地图

2012-03-19 拖拉机牧羊村版开发需求     by Waigo

OK - [程序] 制作开始菜单，大关选择，小关选择
OK - [程序] 制作拖拉机选择，人物选择，人物那里做成单行滚动。（待定）
OK - [程序] 制作一幅羊驼奔跑的序列动画，与后车厢组成一个prefab。
OK - [策划] 对关卡进行修改。4大关，每大关8小关。制定修改的思路。

OK - [策划] 制作第一大关。1-1~1-8。
OK - [策划] 制作第二大关。2-1~2-8。
OK - [策划] 制作第三大关。3-1~3-8。
OK - [策划] 制作第四大关。4-1~4-8。



OK - [策划] 音效。羊驼奔跑，停止时等等。
OK - [策划] 背景音乐4首。


- [美术] 4大关的主题背景等等。
- [美术] 胜利，失败对话框。
- [美术] 成就道具图标，成就对话框。
- [美术] 游戏图标。512x512.
- [美术] 游戏截图。iPhone5张，960x640, iPad 5张，1024x768。
- [美术] 启动画面。大Logo。1024x768。









2012-03-12   剩余工作     by XuMingzhao
- Tractor5 折线形拖拉机后面挡板太短，极容易掉。
- Tractor4 前面有倒L型挡板拖拉机，后面挡板太短，前面的倒L改成竖直向上的就行，横的的挡板会卡住蔬菜。

2012-03-05   剩余工作      by Waigo
- 新的拖拉机，根据造型制作好Prefab，放到关卡里简单测试一下
OK - Main Menu 首页，背景要有旋转的会动的太阳光
OK - Rate US 对话框，[Later], [Rate Now] 按钮。对应的Rate链接。保存一个isRated的Pref变量。在某些关卡弹出。
- [Pending]收了一个桃子后，牌上的三颗桃都消失了。是否应该只消失一颗桃？
OK - Dev Console用一张透明的图片来做。放在MainMenu的右上角。这样才不影响截图和录像。
OK - ？？？ DevConsole里clear data以后，大关卡是否会加上锁？
OK - ？？？有时候掉下撞地的水果，在接下来的几秒里还会被木牌回收，这个是怎么回事？
OK - 路过木牌，出现的100分数，大小最好不一样。颜色换成深一点的橙色。
OK - 通关后，跳动的数字速度更快一些。
OK - 有一些篮筐是浮在地面上的。要么把筐加高，要么手动改位置。
OK - 2-4？2-5 竹子像素不对，scale.x 设成3了
OK - 2-6 一开始篱笆浮起来了
OK - 3-4 包裹的位置不好，一捡到包裹就马上碰到上方的岩石了。
OK- [美术]Main Menu 的 [ i ] 和 [声音] 图标需要做大4倍。声音图标做一个禁声的图标，上面画一个X。
OK - About Us里图片的Atlas，设定为GUI。

OK - small level select 处，太难点击了，考虑加个红色图片当背景按钮
OK - 勋章出现的时候不保存。如果按refresh了，此关勋章不能保存
OK - 再次次获得同样勋章时，最好也有一个动画效果
OK - 第一大关35秒奖章太少了。建议所有关卡的通关时间勋章增加5~8秒。




2012-03-05   剩余工作      by Waigo
OK - [程序] 所有按钮点击后要有个放大的效果。
OK - [程序] Menu，Change Driver 以后，该按钮的小人图标没有变。不如把人的图标换成剪影的图片。
OK - [程序] 场景切换时装载 Loading界面

OK - [程序] 终点成就的UI，勋章出现的速度变慢一些。
OK - [程序] 操作方法教程的逻辑。
OK - [程序] About Us 和 MoreGame 界面。
OK - [程序] IAP 购买逻辑。
OK - [程序] 游戏刚开始的时候，车不停倒退会没有路掉进悬崖。。。是否加个边界（需要一个一个大石头，美术）
- [策划] 第三、第四大关 地形的节点多增加一些。更细腻点。

OK - [美术] 图标还需要更改。拖拉机的机身涂成红色。
- [美术] 游戏截图。1024x768 五幅图。960x640 5 幅图。

OK - [其他] SelectTractor界面，金币数字显示不清楚。
OK - [其他] 要加上拖拉机摔粉碎声 tractor_drop_broken.ogg
OK - [其他] 拖拉机从高处掉下来轮子重重撞地声 tractor_hit_ground.ogg (需要更大声)
OK - [其他] 失败声音 level_lose.ogg （中途车子翻车了也算）
OK - [其他] 背景音乐 8 首 

OK - [其他] 游戏的中英文简介。
- [其他] 游戏的日、韩文简介。
- [其他] 游戏的视频录制。上传Youtube

- [其他] 做成8种不同的拖拉机。相关的美术，prefab需要重新制作。Select Tractor菜单UI需要重新制作。

- [其他 或1.1版] 加上友盟的统计
- [其他 或1.1版] 加上GameCenter


OK - [程序] 每一关的获得成就需要的时间，蔬菜，得分的确定。

2012-02-29  增加游戏音效    by Waigo
------- 拖拉机收集物品声 vegetable_collect.ogg
------- 飞到菜篮声 vegetable_to_basket.ogg
------- 蔬菜掉落地的声音 vegetable_drop.ogg
------- 拖拉机摔粉碎声 tractor_drop_broken.ogg
------- 拖拉机开动声 tractor_start.ogg (在最开始的时候播放，后面就不需要放了。或者做成从无声到tractor_run.ogg逐渐放大)
------- 拖拉机开动声 tractor_run.ogg
------- 拖拉机减速刹车声 tractor_stop.ogg （刹车声太刺耳，可以改为声音逐渐消失）
------- 拖拉机从高处掉下来轮子重重撞地声 tractor_hit_ground.ogg
------- 获得勋章时的声音 get_badge.ogg
-------- 到达重点通关声 level_win.ogg
------- 失败声音 level_lose.ogg （中途车子翻车了也算）
------- OK 菜单界面按钮点击声 click.ogg

OK - 菜单背景音乐 menu_bg.ogg (可以考虑随机播放场景内的背景音乐)


2012-02-27  
OK - 在Game UI 顶端显示当前关卡数（问美术要所需的图片）
OK - 增加后台Dev Console按钮。可以自由选关，某个按钮，点击一下加100个金币。
OK - 难度增加过快。第一大关多增加些容易的关卡。
OK - 部分桃子牌子需要三个桃子，为什么我车上有一个桃子他不要。。。。（有多少要多少）
OK - 基本通关的标准，右上角放一个  n/N 的数字，n=0, 然后一直加，有可能超过分母N。

2012-02-24 Fixed Atlas Assets by Waigo
---重新Build了所有的Atlas图片。以后要遵循以下准则：
- OK 最好不要跨场景使用Atlas。菜单场景和Level场景要分开。
- OK 按钮类，背景类要分开。
- OK 所有Level里的GUI，不要放在场景里，必须改成以Prefab参数的方式传给脚本。


OK - [程序] 包裹不应该算到收集的蔬菜数量里。（等每关时间，蔬菜数量，得分确定后再改）。
OK - [程序] 通关后成绩显示逻辑。（奖章放上面，底下有menu，restart，next按钮）。
OK - [程序]木牌的蔬菜，一旦蔬菜投到篮子后，木牌上的蔬菜图标消失，同时伴随这得分文字出现并上升逐渐消失。
OK - [程序] iPhone和iPad，主摄像机的距离应该不同。iPhone的主摄像机应该离拖拉机更近一些。
OK - [程序] 蔬菜掉落地上时，应该变为灰色，而且碰撞器消失。（找找看有没有直接输出灰度Unlit图像的Shader）。
              （OK） 碰撞器消失
OK - [程序] 关卡获胜后给予金币数的逻辑。
OK    每解锁一个成就10金币，每通关一次大概4金币， 根据 score/200 来算， 车辆大概500一辆， 人物300一个。
OK - [美术] Loading界面
OK - [美术] 暂停菜单界面，尺寸需要再弄大一点。
OK - [美术] theme01，近景的山峰，左右应该可以接起来。
OK - [美术] Next Level 按钮
OK - [美术] 制作图标 512x512. 
OK - [美术] Game场景的弹出对话框等UI尺寸太小，需要做成几乎满屏的尺寸。
OK - [美术] 帮助提示UI。操作帮助（第一第二大关开始都出现，点击任意地方关闭），收集蔬菜的提示（第二小关）。
OK - 前面四关最好令用户玩得顺畅，不要令用户感觉到堵得慌。

2012-02-17 TractorHero 剩余工作
OK - [程序] 关卡中小牌子收集蔬菜的逻辑。
OK - [程序] 关卡结束时新的勋章飞入的效果。
OK - [程序] 关卡内特殊物品（包裹）的逻辑，判断成就的逻辑。
OK - [程序] 得分逻辑的编写。
OK - [程序] 小关和大关的解锁逻辑的编写。
OK - [策划] 每一关装饰物的摆放。
OK - [策划] 每一关包裹的摆放。
OK - [策划] 每一关小牌子的摆放。
OK - [策划] 关卡结束时显示的画面的确定， （下一关按钮？ 金币？）
OK - [美术] 绿野主题的制作，剩余三种背景图片。
OK - [美术] 剩余三个大关的大关选择的图片。
OK - [美术] 操作方法教程的图片。
OK - [美术] 背景图片(近山和远山)左侧和右侧的拼接。
OK - [美术] 主题1土地贴图的边框。
OK - [美术] Loading界面
OK - [美术] 暂停菜单界面，尺寸需要再弄大一点。
OK - [美术] Next Level 按钮


2012-02-09 TractorHero 2月份任务   by Waigo

OK - [策划] 整理Beta 阶段的美术需求。4大场景，场景装饰，新UI元素，碰撞物，等等。
OK - [美术] 制作Beta阶段的美术。4大场景。背景分层。
OK - [美术] 制作Beta阶段的美术。各种小件装饰物。
OK - [程序] [ywj] Menu菜单，几乎每个按钮都使用了独立Atlas，分配不合理。
OK - [程序] Atlas的材质导入选项，通通改为GUI，不生成Midmap 
OK - [程序] 小关卡选择菜单，点击成就勋章则显示当前记录。
OK - [程序] 更改拖拉机死亡的逻辑，在山洞里行驶，车顶碰撞到钟乳石，不能挂掉。
OK - [程序] 增加“路人”逻辑。路上会碰到站着的人，他们会需要某种蔬菜，数量是1~3。如果车上有足够数目的蔬菜，则给他们，同时获得比较高的得分。
OK - [程序] 胜利页面，弹出成就系统界面（复制一份过来）。新获得的勋章将动态飞进来 ，伴随着粒子效果。
OK - [其它] 小音效。收集物品声，胜利声，失败声，拖拉机开动声xN种。
OK - [其它] 菜单背景音乐1~2首。
OK - [策划] Next Level按钮？待讨论。
OK - [Bug] Menu场景Scroll List 在iPhone下异常。


2012-01-13 春节前工作的整理  by Waigo
OK - 对拖拉机的控制还做得不够。
OK - 地形的标准定义。
OK - 制作5关地形关卡。（编写关卡的设计文档，确定每个大关的特征，分别设计代表关卡。）
OK - 每关待收集的物品定义，显示，检测。（完善详细策划文档，确定每关蔬菜的出现频率，收集要求等等）
OK - 每关的成就定义，检测。（完善详细策划文档，确定每关的成就要求等等。）
OK - 每关的成就显示。即小关选择菜单那里，点击勋章后的显示。

OK - IAP内部金币的购买。
OK ----申请IAP。
OK ----编码。
OK - 设计游戏Icon。512x512。
OK - 尽快部署到真机上测试运行。


OK - 背景音乐。弄5首。Menu一首，场景4首。
OK - 小音效。收集到了物品时候的音效。
OK - Camera不能放到Tractor的Prefab里，要固定一个在场景里，而且focus拖拉机。或者用脚本搜索摄像机然后强制换成Tractor的子对象。
OK 一些待完善的细节：
OK - 目前拖拉机车身没有抖动的效果。
OK - 驾驶员也最好有抖动的效果，加上Hinge Joint。







2011-11-30 目前离产品上线还有多远？  by Waigo

OK- 对拖拉机的控制还做得不够。
OK- 地形的标准定义。
OK- 制作5关地形关卡。
OK- 每关待收集的物品定义，显示，检测。
OK- 每关的成就定义，检测。
OK- 每关的成就显示。即小关选择菜单那里，点击勋章后的显示。
OK- Camera不能放到Tractor的Prefab里，要固定一个在场景里，而且focus拖拉机。或者用脚本搜索摄像机然后强制换成Tractor的子对象。



小细节改进：
- SelectTrator界面，锁定的图片应为半透明，用户可以看到新款拖拉机的样子。
- 弹出的解锁对话框，不应该全部遮挡背后的图案。
OK - SelectDriver界面也是。解锁前用户都不知道那个人是什么。应该显示人的头像再加把锁。

OK - SmallLevelSelect场景，点击图标的时候，要有选中的样子。
OK - Game场景，Stop后的Resume，Restart，BackToMenu不是很明确。
OK - Win，Fail场景也是如此。
OK - More Game 界面。
OK - About US 界面。
